
.bg-tr-blue{
    background-color:rgba(0, 26, 73, 0.5)
}

.header-h{
    height:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.header-h2{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.footer-h{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.bg-tr-black{
    background-color:rgba(0, 0, 0, 0.781)
}

/* moi diki j'ai commencé par la */
.img-h{
    height: 200px;
}

.act a:hover{
    transition-property: all;
    transition-duration: 1s;
    /* transform: scale(1.1); */
}

.appr{
    height: 400px;
}

.card-b{
    border-bottom: solid 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-color: #0dcaf0;
}

.una,.unc{
    
    background-image:url(../images/demo/slider/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}



.deuxa,.deuxb,.deuxc{
    margin-left:200px;
    margin-right: 200px;
    height: 400px;
   
}

.trois{
    padding-top: 10px;
    margin-left:100px;
    margin-right: 100px;
    height: 500px;
    width: 700px;
    text-justify: distribute-all-lines;
}

.unb{
    padding-top: 100px;
    padding-bottom: 100px;
}
.video{
    /* height: 60vh;
    width: 100vw; */
}

.overFX{
    overflow-x: hidden;
}




/* ici effect hover */



  /* Craeted refering to LittleSnippets.net Pen: https://codepen.io/littlesnippets/pen/adLELd */
  .frame {
    text-align: center; 
    position: relative;
    cursor: pointer;  
    perspective: 500px; 
  }
  .frame img {
    width: 300px;
    
  }
  .frame .details {
    /* width: 70%; */
    /* height: 80%; */  
    width: 93%;
    padding: 5% 8%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgba(10, 116, 187, 0.712);  
    opacity: 0;
    transition: all 0.4s ease-in;
    color:white;
    
  }
  .frame:hover .details {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
  
  
  
  .bg-footer1 {
      background-color:#111111;
  }

  .bg-footer2 {
    background-color:#0a0a0a;
}

.btn-scroll {
    position: fixed;
    right: 0;
    bottom: 0;
}

.modal-media{
    position:fixed;
    top:0;

    
}

.nav-link:hover{
    transition-property: all;
    transition-duration: 0.2s;
    border-bottom: solid 3px #009ce8;
}

.nav-link{
    border-bottom: solid 3px white;
}

.transition{
    transition-property: all;
}
.duration-300{
    transition-duration:300ms;
}

.opacity-0{
    opacity: 0;
}

.scale-90{
    transform: scale(.9);
}
.opacity-100{
    opacity: 1;
} 
.scale-100{
    transform: scale(1);
}

.t-alert{
    top: 15%;
    right: 15%;
}

.facebook{
    background-color : #3b5999
}

.whatsapp{
    background-color : #0cad05
}

.instagram{
    background-color : #b52b8b
}

.linkedin{
    background-color : #007bb6
}

.youtube{
    background-color : #fb0102
}

.twitter{
    background-color : #00acee
}

.telegram{
    background-color : #2aa6e4
}

.tiktok{
    background-color : #0b1120
}